<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Add A New Story</h1>

<form action="/storys" method="post">
  <label for="story[name]">Story Name:
    <input type="text" name="story[name]">
  </label> <br>
  <label for="">URL:
    <input type="text" name="story[url]">
  </label> <br>
  <input type="hidden" name="story[user_id]" value="<%= @user.id %>">
  <input type="submit" name="submit" value="Submit">
</form>
